.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 580px;
}

.main-list {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 672px);
}

.table {
  display: flex;
  width: 100%;
}

.ready,
.process {
  display: flex;
  flex-direction: column;
  width: 50%;
}
