.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 272px;
  flex-grow: 0.5;
  box-sizing: border-box;
}

.price,
.desc {
  display: flex;
  justify-content: center;
  text-align: center;
}

.counter {
  position: absolute;
  right: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: inherit;
}
