.base-icon {
  display: flex;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  background: #131316;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #801ab3;
  margin-left: -16px;
}
