.items {
  display: flex;
  height: 64vh;
  max-width: 600px;
  overflow-y: scroll;
  flex-wrap: wrap;
}

/* Custom scrollbar */
.items::-webkit-scrollbar {
  width: 8px;
}
.items::-webkit-scrollbar-track {
  background: #2f2f37;
}
.items::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 0px solid #2f2f37;
}
