.wrapper {
  display: flex;
  width: 100%;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.info {
  display: flex;
  align-items: center;
}

.sum {
  display: flex;
  justify-content: flex-end;
}
