main {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Helper classes */
.flex-wrap {
  display: flex;
}

.font-white {
  color: #ffffff;
}

.crsr-pointer {
  cursor: pointer;
}

/* Cusrom scrollbar */
.app-scroll::-webkit-scrollbar {
  width: 8px;
}
.app-scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}
.app-scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 0px solid #2f2f37;
}
