main {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Helper classes */
.flex-wrap {
  display: flex;
}

.font-white,
.text_color_inactive.font-white {
  color: #ffffff;
}

.font-ready {
  color: #00cccc;
}

.text-highlight {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.text-center {
  text-align: center;
}

.crsr-pointer {
  cursor: pointer;
}

.link,
.link:hover {
  text-decoration: none;
  color: inherit;
}

.text-overflow-ellipsis {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.app_header__nav_link__active .icon svg {
  fill: white;
}
.app_header__nav_link__active .text {
  color: white;
}

/* Cusrom scrollbar */
.app-scroll::-webkit-scrollbar {
  width: 8px;
}
.app-scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}
.app-scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 0px solid #2f2f37;
}
