.App {
  max-width: 1240px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  display: flex;
  justify-content: space-between;
}

.main-section {
  width: 600px;
  float: left;
}

/* Cusrom scrollbar */
.main-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.main-scrollbar::-webkit-scrollbar-track {
  background: #2f2f37;
}

/* Handle */
.main-scrollbar::-webkit-scrollbar-thumb {
  background: #8585ad;
}
