ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}

.flex-wrap {
  display: flex;
}

.main-section {
  width: 600px;
  float: left;
}

.font-white {
  color: #ffffff;
}

/* Cusrom scrollbar */
.app-scroll::-webkit-scrollbar {
  width: 8px;
}
.app-scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}
.app-scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 0px solid #2f2f37;
}
